<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--Import Vue-->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

   <!--Import Style-->
   <link rel="stylesheet" href="./style.css">

   <title>Estilo dinâmico e Classe CSS</title>
</head>

<body>
   <div id="app">
      <div class="boxes">
         <div class="demo" :style="myStyle"></div>
         <div class="demo"></div>
         <div class="demo"></div>
      </div>
      <hr>
      <input type="text" v-model="color">
      <input type="number" v-model="size">
   </div>

   <script src="./script.js"></script>
</body>

</html>