<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--Import Vue-->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

   <!--Import Style-->
   <link rel="stylesheet" href="./style.css">

   <title>Esconda o Elemento com v-show</title>
</head>

<body>
   <div id="app">
      <template v-if="loggedIn">
         <p>Logged in user: {{name}}</p>
         <p>Profile: Admin</p>
      </template>
      <p v-else-if="anonymous">Searching as anonymous</p>
      <p v-else>No users logged in</p>

      <button @click="loggedIn =!loggedIn">{{loggedIn ? "Log out" : "Login"}}</button>
      <p><input type="checkbox" v-model="anonymous"> Anonymous</p>

      <hr>
      <footer v-show="loggedIn">
         <h6>Made with love!!</h6>
      </footer>
   </div>

   <script src="./script.js"></script>
</body>

</html>